<ul class="list-group">
{{#each users}}
<div class="card m-3" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre: {{firstname}}</li>
    <li class="list-group-item">Apellido: {{lastname}}</li>
    <li class="list-group-item">Email: {{email}}</li>
  </ul>
</div>
{{/each }}
</ul>

