<h1>ESTA ES LA VISTA DEL 1</h1>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light">Custom column padding</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Custom column padding</div>
    </div>
  </div>
</div>


<img src="../../../08 - Router y Multer/02-static/public/ig-logo.png" alt="El logo">