
<h1>Bienvenido a la vista 3</h1>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
      <div class="p-3 border-bottom border-dark bg-light">{{lastname}}</div>
    </div>
    <div class="col ">
      <div class="p-3 border-bottom border-primary bg-light">{{firstname}} <button class="btn btn-outline-dark">321</button> </div>
      
    </div>
  </div>
</div>

<img
  src="../../../08 - Router y Multer/02-static/public/ig-logo.png"
  alt="El logo"
/>
